<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TNR PDX</title>
    <meta name="description" content="The Thursday Night Ride meets every week Salmon Street Fountain @ 7pm downtown Portland, Oregon. RIDE WITH US!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/animate.min.css" />
    <link rel="stylesheet" href="./css/ionicons.min.css" />
    <link rel="stylesheet" href="./css/styles.css" />
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107332458-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());

        gtag('config', 'UA-107332458-1');
    </script>
  </head>
  <body>
    <nav id="topNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#first"><span class="bike-icon"></span> TNR PDX</a>
            </div>
            <div class="navbar-collapse collapse" id="bs-navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a class="page-scroll" href="#hello">Hello</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#next-ride">Upcoming Ride</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#pictures">Pictures</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#community-guidelines">Community Guidelines</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#plan-ride">Plan A Ride</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Get In Touch</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-toggle="modal" title="About pdxbikesafe" href="#aboutModal">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header id="first">
        <div class="header-content">
            <div class="inner">
                <h3>Welcome to the TNR</h3>
                <h1 class="cursive">Ride With Us</h1>
                <hr>
                <a href="#next-ride" class="btn btn-primary btn-xl page-scroll">Upcoming ride info</a> &nbsp;
                <a href="#community-guidelines" class="btn btn-primary btn-xl page-scroll"><i class="icon-sm ion-ios-information wow fadeIn new-star" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;"></i>New Community Guidelines!</a>
            </div>
        </div>
    </header>
    <section class="bg-primary" id="hello">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                    <h2 class="margin-top-0 text-primary">Salmon Street Fountain @ 7pm  downtown Portland, Oregon</h2>
                    <br>
                    <p class="text-faded">
                        Thursday Night Ride is a community of riders that meets
                        every week to explore Portland. Our community is diverse,
                        friendly, and social. We welcome all riders and expect
                        anyone joining our community to adhere to our principals
                        and values.  Members of our Safety Council are dedicated to 
                        being good stewards of bike fun around Portland.  Riders are 
                        expected to be safe, transparent, and foster a comfortable ride 
                        for all.
                    </p>
                    <a href="#pictures" class="btn btn-default btn-xl page-scroll">I've never been on the ride before</a>
                </div>
            </div>
        </div>
    </section>
    <section id="next-ride">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="margin-top-0 text-primary">This week's ride</h2>
                    <a id="event-link" href="https://goo.gl/maps/jfbPSqoEs142" title="Meets at 7pm at the Salmon Street Fountain">
                        <img data-src="assets/img/salmon-street-fountain-2-thumb.jpg" class="img-responsive" alt="Meets at 7pm at the Salmon Street Fountain">
                        <span class="text-faded">1000 SW Naito Pkwy</span>
                        <i class="icon-lg ion-android-pin wow fadeIn" data-wow-delay=".3s"></i>
                    </a>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="feature">
                        <div class="ride-num fadeIn">
                            <!-- <ion-icon class="icon-lg ion-android-bicycle wow fadeIn" data-wow-delay=".3s" item-start></ion-icon> -->
                            <h1>#</h1>
                            <span id="ride-count" item-end>130</span>
                        </div>
                        <h3>October 5, 2017</h3>
                        <p class="text-muted">Mike's Birthday/Farewell Ride</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="feature">
                        <i class="icon-lg ion-android-bicycle wow fadeInUp" data-wow-delay=".2s"></i>
                        <h3>Easy pace, no hills</h3>
                        <p class="text-muted">There will be at least one bathroom stop and one store stop</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="feature">
                        <i class="icon-lg ion-social-sass wow fadeIn" data-wow-delay=".3s"></i>
                        <h3>Themed</h3>
                        <p class="text-muted">It's a birthday ride, so, ya know, be celebratory.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="pictures">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="margin-top-0 text-primary">Pictures</h2>
                    <p class="text-muted">Photos By<br>IG: @no.lens.cap | Eric Thornburg | eric@kd5vmo.com</p>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-12 col-sm-12">
                    <div style="text-align: center">
                        <iframe width="560" height="315" data-src="https://www.youtube.com/embed/lsXnynO_MSw?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="assets/img/TNR-116-42.jpg" data-credit="IG: @no.lens.cap | Eric Thornburg | eric@kd5vmo.com">
                        <img data-src="assets/img/TNR-116-42-thumb.jpg" class="img-responsive" alt="Image 1">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="assets/img/TNR-116-126.jpg" data-credit="IG: @no.lens.cap | Eric Thornburg | eric@kd5vmo.com">
                        <img data-src="assets/img/TNR-116-126-thumb.jpg" class="img-responsive" alt="Image 2">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
				<div class="clearfix hidden-lg"> </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="assets/img/TNR-116-212.jpg" data-credit="IG: @no.lens.cap | Eric Thornburg | eric@kd5vmo.com">
                        <img data-src="assets/img/TNR-116-212-thumb.jpg" class="img-responsive" alt="Image 3">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="assets/img/TNR-119-445.jpg" data-credit="IG: @no.lens.cap | Eric Thornburg | eric@kd5vmo.com">
                        <img data-src="assets/img/TNR-119-445-thumb.jpg" class="img-responsive" alt="Image 4">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
				<div class="clearfix hidden-lg"> </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="assets/img/TNR-123-460.jpg" data-credit="IG: @no.lens.cap | Eric Thornburg | eric@kd5vmo.com">
                        <img data-src="assets/img/TNR-123-460-thumb.jpg" class="img-responsive" alt="Image 5">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="assets/img/TNR-117-168.jpg" data-credit="IG: @no.lens.cap | Eric Thornburg | eric@kd5vmo.com">
                        <img data-src="assets/img/TNR-117-168-thumb.jpg" class="img-responsive" alt="Image 6">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-lg ion-ios-search"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid" id="community-guidelines">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <h2 class="text-center text-primary">Community Guidelines</h2>
                <hr>
                <div class="media wow fadeInRight">
                    <h3>Have fun</h3>
                    <div class="media-body media-middle">
                        <p>We want every one who shows up at the fountain to feel safe and welcome to express what makes them smile.</p>
                    </div>
                    <div class="media-right">
                        <i class="icon-lg ion-ios-bolt-outline"></i>
                    </div>
                </div>
                <hr>
                <div class="media wow fadeIn">
                    <h3>Ride safe</h3>
                    <div class="media-left">
                        <a href="#alertModal" data-toggle="modal" data-target="#alertModal"><i class="icon-lg ion-ios-cloud-download-outline"></i></a>
                    </div>
                    <div class="media-body media-middle">
                        <p>Stay behind the ride leader, remain in the center of the lane, don't pass on the left of the group without calling it out, and keep off the sidewalk please.</p>
                    </div>
                </div>
                <hr>
                <div class="media wow fadeInRight">
                    <h3>Pack it in Pack it out!</h3>
                    <div class="media-body media-middle">
                        <p>Whatever you bring with you must be taken out with you. If you brought it in your bag, then you can take it with you in your bag.</p>
                    </div>
                    <div class="media-right">
                        <i class="icon-lg ion-ios-snowy"></i>
                    </div>
                </div>
                <hr>
                <div class="media wow fadeIn">
                    <h3>Don't be an ass</h3>
                    <div class="media-left">
                        <i class="icon-lg ion-ios-heart-outline"></i>
                    </div>
                    <div class="media-body media-middle">
                        <p>I don't care if you identify as hee-haw, please display respect for those around you.</p>
                    </div>
                </div>
                <hr>
                <div class="media wow fadeInRight">
                    <h3>Consent for everyone!</h3>
                    <div class="media-body media-middle">
                        <p>Everyone deserves to be respected and to have their boundaries respected. In the spirit of making the Thursday Night Ride a safe space for all ages, shapes, sizes, colors, sounds, and smells: be kind!</p>
                    </div>
                    <div class="media-right">
                        <i class="icon-lg ion-ios-flask-outline"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <aside class="bg-dark" id="plan-ride">
        <div class="container text-center">
            <h2 class="text-primary">Plan A Ride</h2>
            <!-- <div class="call-to-action">
                <a href="http://www.bootstrapzero.com/bootstrap-template/landing-zero" target="ext" class="btn btn-default btn-lg wow flipInX">Free Download</a>
            </div> -->
            <br>
            <hr/>
            <br>
            <p class="text-faded">
                Thursday night rides can be lead by anyone! If you have an idea of where you want to go to on a Thursday, be it; 
                an event, a park, a cool view of the city, or a spot on the river -> we want you to take us there! 
                We created the map below, an overlay of Portland, to; highlight hazards eg: roads with train tracks, 
                show points of interest, offer example routes that have enjoyable features, and to offer our experiences 
                with group bicycle riding in Portland back to the community that likes to be involved. 
            </p>
            <p>
                <iframe data-src="https://www.google.com/maps/d/embed?mid=1G4EZH97ZPGX50lGQ_7uuaymdtDI" width="640" height="480"></iframe>                
            </p>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="row">
                        <h6 class="wide-space text-center">TNRpdx RIDES ARE EXPECTED TO FOLLOW COMMUNITY SAFETY GUIDELINES</h6>
                        <div class="col-sm-3 col-xs-6 text-center inlined">
                            <i class="icon-lg ion-android-bicycle" title="Inclusive"></i>
                            <span>All inclusive All ages All humans</span>
                        </div>
                        <div class="col-sm-3 col-xs-6 text-center inlined">
                            <i class="icon-lg ion-android-walk" title="Safe"></i>
                            <span>Safe for riders and pedestrians</span>
                        </div>
                        <div class="col-sm-3 col-xs-6 text-center inlined">
                            <i class="icon-lg ion-aperture" title="Facilitated"></i>
                            <span>Time allowed for bathroom and pit stops</span>
                        </div>
                        <div class="col-sm-3 col-xs-6 text-center inlined">
                            <i class="icon-lg ion-ios-book-outline" title="Transparent"></i>
                            <span>Transparent and predictable</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="margin-top-0 wow fadeIn">Get in Touch</h2>
                    <hr class="primary">
                    <p>We love feedback. Fill out the form below and we'll get back to you as soon as possible.</p>
                </div>
                <div class="col-lg-16 text-center">
                    <iframe data-src="https://thursdaynightride.sarahah.com" width="640" height="570"></iframe>
                </div>
                <!-- <div class="col-lg-10 col-lg-offset-1 text-center">
                    <form class="contact-form row">
                        <div class="col-md-4">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Email">
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input type="text" class="form-control" placeholder="Phone">
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <textarea class="form-control" rows="9" placeholder="Your message here.."></textarea>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <label></label>
                            <button type="button" data-toggle="modal" data-target="#alertModal" class="btn btn-primary btn-block btn-lg">Send <i class="ion-android-arrow-forward"></i></button>
                        </div>
                    </form>
                </div> -->
            </div>
        </div>
    </section>
    <footer id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-6 col-sm-3 column">
                    <h4>PDX Biking Resources</h4>
                    <ul class="list-unstyled">
                        <li><a href="http://shift2bikes.org/">Shift 2 Bikes</a></li>
                        <li><a href="https://pazpdx.wordpress.com/">PAZ</a></li>
                        <li><a href="https://www.thestreettrust.org/">The Street Trust</a></li>
                        <li><a href="https://bikeportland.org/">Bike Portland</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-3 column">
                    <h4>About</h4>
                    <ul class="list-unstyled">
                        <li><a href="#contact">Contact Us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="https://github.com/KenEucker/pdxbikesafe-website">Website Development</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 column">
                    <!-- <h4>Stay Posted</h4>
                    <form>
                        <div class="form-group">
                          <input type="text" class="form-control" title="No spam, we promise!" placeholder="Tell us your email">
                        </div>
                        <div class="form-group">
                          <button class="btn btn-primary" data-toggle="modal" data-target="#alertModal" type="button">Subscribe for updates</button>
                        </div>
                    </form> -->
                </div>
                <div class="col-xs-12 col-sm-3 text-right">
                    <h4>Follow</h4>
                    <ul class="list-inline">
                      <li><a rel="nofollow" target ="_blank" href="https://twitter.com/TNRpdx" title="@TNRpdx"><i class="icon-lg ion-social-twitter-outline"></i></a>&nbsp;</li>
                      <li><a rel="nofollow" target ="_blank" href="https://www.facebook.com/TNRpdx/" title="@TNRpdx"><i class="icon-lg ion-social-facebook-outline"></i></a>&nbsp;</li>
                      <li><a rel="nofollow" target ="_blank" href="https://www.instagram.com/tnrpdx/" title="@TNRpdx"><i class="icon-lg ion-social-instagram-outline"></i></a>&nbsp;</li>
                    </ul>
                </div>
            </div>
            <br/>
            <span class="pull-right text-muted small">TNRpdx is an open source website <a href="https://github.com/KenEucker/pdxbikesafe-website">developed on github </a></span>
        </div>
    </footer>
    <div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
        	<div class="modal-body">
                <img data-src="" id="galleryImage" class="img-responsive" />
                <span class="credit" alt="give credit where credit is due"></span>
        		<p>
        		    <br/>
        		    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
        		</p>
        	</div>
        </div>
        </div>
    </div>
    <div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-body">
        		<h2 class="text-center">This is a community</h2>
        		<h5 class="text-center">
        		    
        		</h5>
        		<p class="text-justify">
                    The Thursday Night Ride exists because people want to have fun riding bikes with others. This is bigger than any one person,  it has a life of its own. 
                    This website is an effort of those involved in the safety committee in their spare time as a labor of love to friends and the greater Portland biking community.
                    If you would like to support the efforts that go into the group that facilitates the ride and this website you can follow the link below.
        		</p>
        		<p class="text-center"><a href="https://paypal.me/KenEucker">Support TNRpdx</a></p>
        		<br/>
        		<button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK </button>
        	</div>
        </div>
        </div>
    </div>
    <div id="alertModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
        <div class="modal-content">
        	<div class="modal-body">
        		<h2 class="text-center">Nice Job!</h2>
        		<p class="text-center">You clicked the button, but it doesn't actually go anywhere because this is only a demo.</p>
        		<p class="text-center"><a href="http://www.bootstrapzero.com">Learn more at BootstrapZero</a></p>
        		<br/>
        		<button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">OK <i class="ion-android-close"></i></button>
        	</div>
        </div>
        </div>
    </div>
    <!--scripts loaded here -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/10.3.1/lazyload.min.js"></script>    
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.easing.min.js"></script>
    <script src="./js/wow.js"></script>
    <script src="./js/requestAnimFrame.js"></script>
    <script src="./js/requestInterval.js"></script>
    <script src="./js/requestTimeout.js"></script>
    <script src="./js/scripts.js"></script>
  </body>
</html>