<html>
    <head>
        <style>
            body {
                background-image: url('assets/img/TNR-117-168.jpg');
                background-size: cover;
            }
            p {
                color: red;
                margin-left: 35%;
                margin-top: 25%;
            }
        </style>
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107332458-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments)};
            gtag('js', new Date());

            gtag('config', 'UA-107332458-1');
        </script>
    </head>
    <body>
        <p>No longer supporting this unsafe ride.</p>
    </body>
</html>